guidelines.md
*.pdb
*.gro
*.zip
*.tpr
*.edr
*.log
*.trr
*.swp
*.xvg
*.offsets
*.cpt
log*.*
!logo.png
.ipynb_checkpoints/
biobb_wf_dna_helparms/notebooks/*.png
biobb_wf_dna_helparms/notebooks/*.gif
biobb_wf_dna_helparms/notebooks/*.web.ipynb
biobb_wf_dna_helparms/notebooks/*.docs.ipynb
*.old.ipynb
*.bk.ipynb
\#*\#
